<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <h1>Welcome to the API Homepage</h1>
        <a href="/api/products">Click Here for Product Listing in JSON Format</a>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>