<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div id="error-message">
            <h2><%= error %></h2>
            <a href="#" onclick="window.history.back();">Try Again</a>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>