<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Welcome</h1>
        <p>"Ellen's Pantry Provisions" is your essential tool for managing your pantry inventory with ease and precision. Designed to simplify the process of organizing your kitchen essentials, our platform empowers users to effortlessly add, update, and delete items from their inventory database.</p>

        <p>With "Ellen's Pantry Provisions," you can keep track of your stock levels, expiration dates, and shopping lists, ensuring you always have the ingredients you need on hand. Whether you're a culinary enthusiast or a professional chef, our intuitive interface makes it easy to manage your pantry with confidence.</p>
            
        <p>From pantry staples to specialty ingredients, "Ellen's Pantry Provisions" provides a seamless solution for keeping your kitchen well-stocked and organized. Say goodbye to pantry clutter and hello to efficient inventory management with "Ellen's Pantry Provisions."</p>

    </body>
    <%- include('./partials/foot.ejs') %>
</html>