<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <h1>Welcome</h1>
        <p>"Ellen's Pantry Provisions" is your essential tool for managing your pantry inventory with ease and precision. Designed to simplify the process of organizing your kitchen essentials, our platform empowers users to effortlessly add, update, and delete items from their inventory database.</p>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>